In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import re

In [4]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [1]:
df = pd.read_csv('fake.csv')

NameError: name 'pd' is not defined

In [1]:
import pandas as pd

In [2]:
import numpy as np
import re

In [3]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('fake.csv')

In [5]:
df.head()

   id                                              tweet label
0   1  Our daily update is published. States reported...     0
1   2             Alfalfa is the only cure for COVID-19.     1
2   3  President Trump Asked What He Would Do If He W...     1
3   4  States reported 630 deaths. We are still seein...     0
4   5  This is the sixth time a global health emergen...     0

In [6]:
df.shape()

TypeError: 'tuple' object is not callable

In [7]:
df.shape

(2140, 3)

In [8]:
df.isna().sum()

id       0
tweet    0
label    0
dtype: int64

In [9]:
df['content'] = df.['tweet']

SyntaxError: invalid syntax (469582240.py, line 1)

In [10]:
df = df.fillna(' ')

In [11]:
df.isna().sum()

id       0
tweet    0
label    0
dtype: int64

In [12]:
df['content']=df.['tweet']

SyntaxError: invalid syntax (3816530295.py, line 1)

In [13]:
df['content'] =df.['title']

SyntaxError: invalid syntax (3817590824.py, line 1)

In [14]:
df['content'] = df.['tweet']

SyntaxError: invalid syntax (469582240.py, line 1)

In [15]:
df

        id                                              tweet label
0        1  Our daily update is published. States reported...     0
1        2             Alfalfa is the only cure for COVID-19.     1
2        3  President Trump Asked What He Would Do If He W...     1
3        4  States reported 630 deaths. We are still seein...     0
4        5  This is the sixth time a global health emergen...     0
...    ...                                                ...   ...
2135  2136  #CoronaVirusUpdates: State-wise details of Tot...  real
2136  2137  Tonight 12(midnight) onwards Disaster Manageme...     1
2137  2138  296 new cases of #COVID19Nigeria; Plateau-85 E...  real
2138  2139  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...  real
2139  2140  More than half of pregnant women recently admi...  real

[2140 rows x 3 columns]

In [16]:
df['content']

KeyError: 'content'

In [17]:
df['tweet']

0       Our daily update is published. States reported...
1                  Alfalfa is the only cure for COVID-19.
2       President Trump Asked What He Would Do If He W...
3       States reported 630 deaths. We are still seein...
4       This is the sixth time a global health emergen...
                              ...
2135    #CoronaVirusUpdates: State-wise details of Tot...
2136    Tonight 12(midnight) onwards Disaster Manageme...
2137    296 new cases of #COVID19Nigeria; Plateau-85 E...
2138    RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...
2139    More than half of pregnant women recently admi...
Name: tweet, Length: 2140, dtype: object

In [18]:
ps = PorterStemmer()
def stemming(tweet):
    stemmed_tweet = re.sub('[^a-zA-Z]',' ',tweet)
    stemmed_tweet = stemmed_tweet.lower()
    stemmed_tweet = stemmed_tweet.split()
    stemmed_tweet = [ps.stem(word) for word in stemmed_tweet if not word in stopwords.words('english')]
    stemmed_tweet = ' '.join(stemmed_tweet)
    return stemmed_tweet

In [19]:
news_df['tweet'] = news_df['tweet'].apply(stemming)

NameError: name 'news_df' is not defined

In [20]:
df['tweet'] = df['tweet'].apply(stemming)

In [21]:
df['tweet']

0       daili updat publish state report k test k new ...
1                                      alfalfa cure covid
2       presid trump ask would catch coronaviru http c...
3       state report death still see solid nation decl...
4       sixth time global health emerg declar intern h...
                              ...
2135    coronavirusupd state wise detail total confirm...
2136    tonight midnight onward disast manag act imple...
2137    new case covid nigeria plateau enugu oyo lago ...
2138    rt cdcemerg dyk cdcgov one stop shop covid res...
2139    half pregnant women recent admit uk hospit cov...
Name: tweet, Length: 2140, dtype: object

In [22]:
x = df['tweet'].values
y = df['label'].values

In [23]:
print(x)

['daili updat publish state report k test k new case death current hospit fell k first time sinc june http co wzsyme sht'
 'alfalfa cure covid'
 'presid trump ask would catch coronaviru http co mewhusrzi donaldtrump coronaviru'
 ...
 'new case covid nigeria plateau enugu oyo lago river fct kaduna bauchi delta ekiti akwa ibom ebonyi kwara ogun osun gomb niger confirm discharg death http co vlnb mw'
 'rt cdcemerg dyk cdcgov one stop shop covid resourc section commun peopl age find'
 'half pregnant women recent admit uk hospit covid infect black ethnic minor group bmj studi find http co rypbgsnael']

In [24]:
vector = TfidfVectorizer()
vector.fit(x)
x = vector.transform(x)

In [25]:
print(x)

  (0, 6914)	0.3902536975423055
  (0, 6466)	0.18871239244857044
  (0, 6168)	0.1924303241425855
  (0, 6103)	0.13339227345735705
  (0, 5833)	0.15420414788052622
  (0, 5637)	0.222231357977324
  (0, 5611)	0.3902536975423055
  (0, 5193)	0.15519666116161568
  (0, 4889)	0.233745094361573
  (0, 4114)	0.14443910693899317
  (0, 3217)	0.262906103020451
  (0, 2753)	0.08191625027335264
  (0, 2722)	0.18753331787636082
  (0, 2149)	0.233745094361573
  (0, 2101)	0.336499447446161
  (0, 1445)	0.16900607764970355
  (0, 1396)	0.208551486778136
  (0, 1363)	0.23901137956581434
  (0, 1092)	0.08191625027335264
  (0, 866)	0.1321246059983318
  (1, 1359)	0.47991475130115435
  (1, 1295)	0.18584610933789172
  (1, 167)	0.8574048373595284
  (2, 6869)	0.3074959753036998
  (2, 6291)	0.25911709676030087
  :	:
  (2138, 1739)	0.3279958861280811
  (2138, 1295)	0.08245150969001896
  (2138, 1142)	0.21739093509563548
  (2138, 904)	0.3036332056040401
  (2138, 900)	0.3142755359781296
  (2138, 109)	0.2911203314278719
  (2139, 6843)	0.25839768824372217
  (2139, 6382)	0.20640785117276222
  (2139, 5906)	0.2212077849333105
  (2139, 5391)	0.32372066736532645
  (2139, 5114)	0.21660806270296235
  (2139, 4780)	0.2955875915541338
  (2139, 3877)	0.2865307640549148
  (2139, 2947)	0.1701300637521811
  (2139, 2753)	0.06795062640932477
  (2139, 2722)	0.15556139813278344
  (2139, 2547)	0.26745451574294116
  (2139, 2483)	0.2212077849333105
  (2139, 2143)	0.215183795551262
  (2139, 1934)	0.2626740027951476
  (2139, 1295)	0.07016781795562044
  (2139, 1092)	0.06795062640932477
  (2139, 655)	0.2955875915541338
  (2139, 631)	0.241940893864229
  (2139, 70)	0.26745451574294116

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,stratify=y,random_state=1)

In [27]:
x_train.shape

(1712, 7197)

In [28]:
x_test.shape

(428, 7197)

In [29]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [30]:
train_y_pred = model.predict(x_train)
print("train accuracy:",accuracy_score(train_y_pred,y_train))

train accuracy: 0.9228971962616822

In [31]:
test_y_pred = model.predict(x_test)
print("train accuracy :",accuracy_score(test_y_pred,y_test))

train accuracy : 0.8504672897196262

In [32]:
input_data = x_test[20]
prediction = model.predict(input_data)
if prediction[0] == 1:
    print('fake news')
else:
    print('real news')

real news

In [33]:
df['tweet'][20]

'korona viru new deadli form viru china suffer may come india immedi avoid form cold drink ice cream koolfe etc type preserv food milkshak rough ice ice cola milk sweet older hour atleast day today'